@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navcontainer {
    background-color: #ffff;
    border-bottom: 1px solid rgb(194, 188, 188);
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 100px;
    /* padding: 20px; */

}

.navbar__s1 {
    display: flex;
}

.navbar__s1 img {
    width: 50px;
    /* height: 20px; */
}

.navbar__s2 {
 display: flex;
    gap: 20px;
    font-weight: 600;
}


.navbar__s3__btn2 {
    padding: 10px;
    background-color: black;
    color: #ffff;
    border: none;
}

.navbar__s3__btn1 {
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
}

.navbar__s3__btn1:hover {
    background-color: rgb(216, 210, 210);
}

.navbar__s3__btn2 {
    height: 40px;
    width: 100px;
    background-color: black;
    color: #ffff;
    border: none;
    border-radius: 25px;
    font-weight: 600;
}



/* WhereTo */
.whereto h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

.whereto__list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.whereto__list ul li {
    list-style: none;
}

.whereto__list ul li i {
    font-size: 15px;
    margin: 5px;
}

.whereto__search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.whereto__search__box {
    /* border: 2px solid rgb(90, 83, 83); */
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.whereto__search__box input {
    border: none;
    padding: 10px;
}

.whereto__search__box input:focus {
    outline: none;
    border: none;
}

.whereto__search__box button {
    background-color: aquamarine;
    height: 42px;
    width: 100px;
    border-radius: 50px;
    border: none;
}

.image__container {
    position: relative;
   

}

.image__container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #FF5D5E; */
    background-image: linear-gradient(to bottom, #ff5d5e, #e35354, #c8494b, #ae3f41, #943638);
    height: 70vh;
    width: 85%;
    padding: 0px;
    border-radius: 10px;
}

.image__container__content {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #ffff;

   
}

.image__container__content button {
    height: 50px;
    width: 150px;
    background-color: #ffff;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
   
}

/* expo container */
.expo__container {
    padding: 10px 100px;
    display: flex;
    height: 30vh;
}

.expo__container__s1 {
    background-color: #FFCCCC;
    flex-grow: 1 !important;
    padding: 28px;
    letter-spacing: 1px;
}

.expo__container__s2 {
    flex-grow: 1 !important;
}

.expo__container__s1__title {
    font-size: 27px;
    font-weight: 900;
}

.expo__container__s1 button {
    height: 40px;
    width: 150px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 10px;
}

.expo__container__s2 img {
    height: 30vh;
}



/************Way to Madurai ************/

.waytochennai {
    padding: 50px 100px;
}

.waytochennai__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.waytochennai-card {
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.waytochennai-card img {
    /* height: 50%; */
    width: 100%;
    opacity: 0.95;
    border-radius: 10px;
    filter: brightness(90%);
}

.waytochennai-card .icon {
    background-color: rgb(255, 255, 255);
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    /* right: 10; */
    right: 0;
}

.waytochennai-card h3 {
    position: absolute;
    top: 70%;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    left: 10px;
    line-height: 30px;
    z-index: 1;

}

.waytochennai-card p {
    text-align: left;
    font-weight: 900;
}

.waytochennai-card img:hover {
    opacity: 0.75;
}


/* Trip container */
.trip__container,
.Vibrantcities__container {
    padding: 50px 100px;
    width: 80%;
}

.trip__container__content {
    font-size: 15px;
    margin-top: 10px;
}

.trip__location__image,
.Vibrantcities__location__image {
    position: relative;
    width: fit-content;
}

.trip__location__title,
.Vibrantcities__location__title {
    position: absolute;
    top: 80%;
    color: #ffff;
    left: 5px;
    width: fit-content;

}

.trip__location,
.Vibrantcities__location {
    display: flex;
    gap: 15px;
}

.trip__location__image img,
.Vibrantcities__location img {
    height: 270px;
    margin-top: 20px;
    opacity: 1.0;
    border-radius: 10px;
}

.trip__location__image img:hover,
.Vibrantcities__location img:hover {
    opacity: 0.75;
}

/* Way to tour */
.waytotour__container {
    padding: 0 100px;
}

.waytotour__imagecontainer {
    display: flex;
    gap: 10px;
}

.waytotour__container__image {
    position: relative;
    width: fit-content;

}

.waytour__image {
    height: 270px;
    margin-top: 20px;
    opacity: 1.0;
    border-radius: 10px;

}

.icon {
    background-color: rgb(255, 255, 255);
    color: black;
    width: fit-content;
    padding: 5px;
    border-radius: 50px;
    top: 0;
    margin-top: 30px;
    margin-right: 15px;
    position: absolute;
    /* right: 10; */
    right: 0;
}

/* Choice content */
.choice__container {
    background-color: #FFF7E1;
}

.choice__container__content {
    display: flex;
    padding: 0 100px;
    align-items: center;
}

.choice__container__content__s1 img {
    width: 10%;
}

.choice__container__content__s1 h1 {
    font-weight: 900 !important;
    font-family: 'Gabarito', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.choice__container__content__s1 p {
    font-size: 25px;
    margin-top: 20px;
}

.choice__container__content__s1 button {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

/* .choice__container__content__s2{
    width: 60%;
} */
.choice__container__content__s2 img {

    height: 90vh;
}

/* Vibrabant */
.vibrantcities {
    padding: 10px 100px;
}

.vibrantcities__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.vibrantcities-card {
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.vibrantcities-card img {
    /* height: 50%; */
    width: 100%;
    opacity: 0.95;
    border-radius: 10px;
    filter: brightness(90%);
}

.vibrantcities-card h3 {
    position: absolute;
    top: 80%;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    left: 10px;
    line-height: 30px;
    z-index: 1;


}

.vibrantcities-card img:hover {
    opacity: 0.75;
}


.booknow {
padding: 100px;
}

.booknow__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.booknow-card {
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.booknow-card img {
    /* height: 50%; */
    width: 100%;
    opacity: 0.95;
    border-radius: 10px;
    filter: brightness(90%);
}

.booknow-card h3 {
    position: absolute;
    top: 80%;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    left: 10px;
    line-height: 30px;
    z-index: 1;

}

.booknow-card img:hover {
    opacity: 0.75;
}

/* NextTrip */
.nexttrip {
    padding: 10px 100px;
}

.nexttrip__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.nexttrip-card {
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.nexttrip-card img {
    /* height: 50%; */
    width: 100%;
    opacity: 0.95;
    border-radius: 10px;
    filter: brightness(90%);
}

.nexttrip-card .icon {
    background-color: rgb(255, 255, 255);
    color: black;
    width: fit-content;
    padding: 5px;
    border-radius: 50px;
    top: 0;
    margin-top: 30px;
    margin-right: 15px;
    position: absolute;
    /* right: 10; */
    right: 0;
}

.nexttrip-card h3 {
    position: absolute;
    top: 70%;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    left: 10px;
    line-height: 30px;
    z-index: 1;

}

.nexttrip-card img:hover {
    opacity: 0.75;
}

/************ Explore ************/
.explore__container {
    background-color: #FAF1ED;
}

.explore {
    padding: 10px 100px;
}

.explore__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.explore-card {
    position: relative;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.explore-card img {
    /* height: 50%; */
    width: 100%;
    opacity: 0.95;
    border-radius: 10px;
    filter: brightness(90%);
}

.explore-card .icon {
    background-color: rgb(255, 255, 255);
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    right: 0;
}

.explore-card h3 {
    position: absolute;
    top: 70%;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    left: 10px;
    line-height: 30px;
    z-index: 1;

}

.explore-card p {
    text-align: center;
    padding: 10px;
    font-weight: 900;
}

.explore-card img:hover {
    opacity: 0.75;
}

.footer {
    padding: 30px 200px;
    background-color: #FAF1ED;
    color: #070606;
    margin-top: 50px;
}

.footer__one {
    display: flex;
    gap: 50px;
}

.footer__one p {
    font-size: 12px;
    padding: 3px;
}

.footer__two {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer__two__s1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__two__s1 img {
    width: 50px;
}

.footer__two__s2 i {
    padding-right: 10px;
    font-size: 25px;
}


@media screen and (max-width:800px) {
    .navbar {
        margin: 10px;

    }

    .navbar__s2 {
        gap: 10px;
    }

    .image__container__content {
        top: 70%;
        left: 14%;
        font-size: 14px;
    }

    .footer {
        padding: 30px 100px;
    }

    .footer__two__s2 i {
        padding-right: 1px;
        font-size: 25px;
    }

    .choice__container__content__s1 img {
        width: 29%;
    }

    .choice__container__content__s1 h1 {
        font-weight: 600;
        font-family: 'Gabarito', sans-serif;
        font-size: 54px;
        line-height: 44px;
    }

    .choice__container__content__s1 p {
        font-size: 15px;
        margin-top: 20px;
    }

    .choice__container__content__s2 img {
        height: 50vh;
    }

    .booknow-card h3,
    .vibrantcities-card h3,
    .nexttrip-card h3 {
        top: 69%;
        font-size: 14px !important;
    }

    .expo__container__s1 {
        padding: 15px;
    }

    .expo__container__s1__title {
        font-size: 15px;
        margin-top: 46px;
    }

    .waytomadurai,
    .trip__container,
    .Vibrantcities__container,
    .nexttrip,
    .explore,
    .expo__container,
    .booknow,
    .choice__container__content {
        padding: 50px 50px;
    }
}

@media screen and (max-width:650px) {
    .waytomadurai,
    .trip__container,
    .vibrantcities ,
    .Vibrantcities__container,
    .nexttrip,
    .explore,
    .expo__container,
    .booknow,
    .choice__container__content {
        padding: 20px 20px;
    }
    p{
        font-size: 10px;
    }
    .navbar {
        justify-content: center !important;
        align-items: center !important;

    }

    .navbar__s2,
    .navbar__s3 {
        display: none;

    }
    .whereto h1 {
        font-size: 40px;
    }
    .whereto__list ul {
        flex-direction: column;
    }

    .whereto__search__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 25px;
    }

    .whereto__search__box button {
        width: 100%;
    }
    .waytomadurai-card{
        flex-basis: 40%;
    }
    .navbar__icon {
        display: inline-block;
        text-align: start;
    }
   
    .image__container img 
    {
        height: 40vh;
    }
    .image__container__content button {
        height: 36px;
        width: 123px;
        background-color: #ffff;
        border-radius: 50px;
        border: none;
        font-size: 12px;
        font-weight: 700;
        margin-top: 4px;
    }
    .image__container__content {
        top: 69%;
        left: 10%;
        font-size: 6px;
    }

    .booknow-card h3,  
    .nexttrip-card h3 {
        top: 61%;
        font-size: 7px !important;
    }
    .choice__container__content {
        flex-direction: column;
    }

    .choice__container__content__s2 img {
        height: 40vh;
    }

    .choice__container__content {
        padding: 0 50px;
    }
    .explore__container{
        flex-wrap: nowrap;
    }
    .explore-card p {
        text-align: center;
        padding: 1px;
        font-weight: 900;
        font-size: 11px;
    }
    .waytomadurai-card .icon ,
    .explore-card .icon {
        padding: 3px;
    }
    .vibrantcities-card h3 {
    font-size: 6px !important;
    top: 50%;
    left: 5px;
}
    .nexttrip {
        padding: 10px 10px !important;
    }

    .nexttrip-card {
        flex-basis: 40% !important;
    }

    .nexttrip-card h3 {
        top: 77% !important;
        font-weight: 500;
        font-size: 9px !important;
        left: 5px;
        width: fit-content;
    }

    .footer {
        padding: 20px 20px;
    }
    .footer__one {
        display: flex;
        gap: 3px;
    }
    .footer__two{
        flex-direction: column;
        margin: 0px;
    }
    .footer__one p {
    font-size: 8px !important;
    padding: 2px;
}
     .expo__container__s1{
        background-image: url(images/expo.jpg);
        color: #ffff;
        text-align: left;
    }
    .expo__container__s2 img {
display: none;    }
}
   